@font-face {
font-family: "Arimo-Bold";
src: url("/fonts/Arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
font-family: "Arimo-Regular";
src: url("/fonts/Arimo/Arimo-Regular.ttf") format("truetype");
}
